@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <h3 style="margin-top: 10px;">PRODUCTS</h3>
        </div>
    </div>
</div>
<div class="video" style="padding-left: 340px;">
    <video width="600" height="400" controls>
        <source src="video/BearhugClip.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div>
    <h4>BEARHUG Crew Neck</h4>

    <p class="crewneck" style="text-align: center">
        Packs lihgt. Ready in a flash. The BEARHUG Crew Neck redefines a classic by offering incredible warmth, while crowning its classic silhouette. Cover up for cool morning travel or recharge during downtime on your daily commute. Raglen sleeves offer easy range of motion that serves well for warm-ups or light training on the trail, while Strom Cotton keeps you prepared for unfavorable conditions. For cooling comfort, the ribzips can be adjusted for heat management or rapid ventilation after demanding activities or during sweltering afternoons.
    </p>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ul>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="padding-left: 320px;">
            <img src="images/Crewneck.jpg" alt="Crewneck">
        </div>

        <div class="item" style="padding-left: 385px;">
            <img src="images/Crewneck1.jpg" alt="Crewneck1">
        </div>

        <div class="item" style="padding-left: 500px;">
            <img src="images/Crewneck2.jpg" alt="Crewneck2">
        </div>

        <div class="item" style="padding-left: 500px;">
            <img src="images/Crewneck3.jpg" alt="Crewneck3">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<button ng-show="product.canPurchase" class="btn btn-primary">Add to cart</button>

<div>
    <h4>BEARHUG Pullover</h4>
    <p class="Pullover" style="text-align: center">
        Get out of the cold and into you zone with the BEARHUG Pullover. Tailored with an athletic fit for rugged activities. It's oversized hood and roomy interior offers ultimate warmth and comfort from the cold. Sustained core warmth helps reenergize and refocus for greater endurance during extended hikes, backpacking, or training. While its cozy interior makes it a perfect reprieve around camp. For cooling comfort, the ribzips can be adjusted for heat management or rapid ventilation after demanding activities or during sweltering afternoons.
    </p>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="padding-left: 310px;">
            <img src="images/Pullover.jpg" alt="Pullover">
        </div>

        <div class="item" style="padding-left: 380px;">
            <img src="images/Pullover1.jpg" alt="Pullover1">
        </div>

        <div class="item" style="padding-left: 500px;">
            <img src="images/Pullover2.jpg" alt="Pullover2">
        </div>

        <div class="item" style="padding-left: 500px;">
            <img src="images/Pullover3.jpg" alt="Pullover3">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<button ng-show="product.canPurchase" class="btn btn-primary">Add to cart</button>

<div>
    <h4>BEARHUG Full Zip </h4>
    <p class="Fullzip" style="text-align: center">
        From campsite to downtown, this contemporary BEARHUG Full Zip is performance to the core. While the double loft front is seperated along the center zipper, hand and forearms can stil be inserted vertically into the hoodie. The specially designed corepocket on the full zip allows your hands to rest and to defrost instantly by absorbing direct heat from you body's core. For cooling comfort, the ribzips can be adjusted for head management or rapid vantilation after demading activities or during sweltering afternoons.
    </p>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="padding-left: 310px;">
            <img src="images/Fullzip.jpg" alt="Fullzip">
        </div>

        <div class="item" style="padding-left: 400px;">
            <img src="images/Fullzip1.jpg" alt="Fullzip1">
        </div>

        <div class="item" style="padding-left: 500px;">
            <img src="images/Fullzip2.jpg" alt="Fullzip">
        </div>

        <div class="item" style="padding-left: 500px;">
            <img src="images/Fullzip3.jpg" alt="Fullzip">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<button ng-show="product.canPurchase" class="btn btn-primary">Add to cart</button>

