<!doctype html>
<html ng-app="BearhugWear">
<head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="css/site.css" type="text/css" />
    <title>BEARHUG Wear</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="height: 130px;">
                <div class="panel-heading"><h1>BEARHUG</h1></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="Panel-heading"><h2 style="margin-bottom: 40px;">"FIND YOURSELF ANYWHERE"</h2></div>
            </div>
        </div>

        @RenderBody()



        
    </div>



    <script src="jquery-3.1.0.js" type="text/javascript"></script>
    <script src="scripts/bootstrap.js" type="text/javascript"></script>
    <script src="products.js" type="text/javascript"></script>
    <script src="services/products-service.js" type="application/javascript"></script>

</body>
</html>